html{
    background-color: white;
}
/*header sectio*/
header{
    
    background: rgba(229, 84, 115, 0.10); 
    color: black;
    margin-bottom: 120px;
}
.name{
    font-size: 85px;
    font-weight: 800;
    margin: 0px;
}
.banner-headding{
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

.content{
    border: 1px solid black;
    font-weight: 400;
    font-size: 20px;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 70px 150px  0px 150px;
    align-items: center;
}

.head-pic{
    width: 500px;
    
    
}

.banner_content{
    padding: 2%;
    max-width: 800px;
}

.primaryB{
    border:0px none;
    border-radius: 8px;
    padding: 10px 30px;
    background-color: #E55473;
    color:white;
}

 /*main section*/
main{
    margin: 0px 0px 10px;
    color: black;
}

.off{
    border: 1px solid black;
    text-align: center;
    margin: 0px 150px 0px;
}
.hadding{
    font-size:40px ;
    font-weight: 700; 
    border: 1px solid black;
}
.fo{
    border: 1px solid black;
    display: flex;
    align-items:center;
    margin: 0px 185px 0px;
}
.fo > div{
    display:grid;
    margin: 40px 20px 0px;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
}
#one{
    background-color:  rgba(167, 33, 98, 0.15);
    border-radius: 20px 20px 0px 0px;
    border-bottom:40px solid #e397a8;
    width: 464px;
    height: 538px;
}
#two{
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 20px 20px 0px 0px;
    border-bottom:40px solid rgba(14, 59, 61, 0.15);
    width: 464px;
    height: 538px;
}
#three{
    background-color:rgba(71, 125, 17, 0.15);
    border-radius: 20px 20px 0px 0px;
    border-bottom:40px solid rgba(62, 119, 5, 0.15);
    width: 464px;
    height: 538px;
}
.offer{
    border: 1px solid black;
    background-color: rgba(39, 39, 39, 0.05); 0.05);
    display: flex;
    align-items:center;
    margin: 100px 185px 120px;
    padding:0px 290px 60px;
}
.offer > div{
    border: 1px solid black;
    display:grid;
    margin: 70px 50px 0px;
    text-align: center;
    font-size: 18px;
}
.hotd{
    border: 1px solid black;
    background-color: rgba(192, 24, 60, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 70px 350px  0px  340px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.hotd > div > .content{
    border: 1px solid black;
    font-weight: 200;
    padding-bottom: 25px;
}
.hotd > div{
    border: 1px solid black;
    margin-right: 150px;
    max-width: 800px;
}
.newcontent{
    border: 1px solid black;
    font-weight: 400;
    font-size: 20px;
    margin: 0px 0px ;
    padding:0px 450px; 
}
.media{
    border: 1px solid black;
    display:flex;
    margin: 30px 190px 100px;
}
.media > img{
    border: 1px solid black;
    display:flex;
    margin: 0px 16px 0px;
}
.florist{
    border: 1px solid black;
}
.subs{
    border: 1px solid black;
    background: rgba(192, 24, 60, 0.05);
    align-items:center;
    margin: 100px 0px 120px;
    padding:30px 290px 60px;
}
.info{
    
    border: 1px solid black;
    align-items:center;
    display: flex;
    justify-content: space-between;
    margin: 10px 150px 0px;
    padding:5px 250px 10px;
}
.info input{
    display:block;
    margin-right: 10px;
    padding:9px 200px 9px 24px ;
}

.off1{
    border: 1px solid black;
    text-align: center;
    margin: 0px 150px 0px;
}
.hadding1{
    font-size:40px ;
    font-weight: 700; 
    border: 1px solid black;
    Margin:30px 30px 20px;
}
.newcontent1{
    border: 1px solid black;
    font-weight: 400;
    font-size: 20px;
    margin: 10px ;
    padding:0px 250px; 
}
footer{
    background-color: #e9375e;
    padding-bottom: 500px;
}


