html{
    background-color: white;
    font-family: 'Lato', sans-serif ;
    font-family: 'Open Sans', sans-serif;
}
/*header sectio*/
.V1{
    color: rgb(208, 12, 77);
}
.V2{
    color: rgba(3, 90, 13, 0.909);
}
header{
    
    background: rgba(229, 84, 115, 0.10); 
    color: black;
    margin-bottom: 120px;
}
.name{
    font-size: 85px;
    font-weight: 800;
    margin: 0px;
}
.banner-headding{
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
.content{
    font-weight: 400;
    font-size: 20px;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 70px 150px  0px 150px;
    align-items: center;
}
.head-pic{
    width: 500px;
    
    
    
   
    
}
.banner_content{
    padding: 2%;
    max-width: 800px;
}
.primaryB{
    border:0px none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 24px;
    background-color: #E55473;
    color:white;
}

 /*main section*/
main{
    margin: 0px 0px 10px;
    color: black;
}
.off{
    
    text-align: center;
    margin: 0px 150px 0px;
}
.hadding{
    font-size:40px ;
    font-weight: 700; 
}
.fo{
   
    display: flex;
    align-items:center;
    margin: 0px 185px 0px;
}
.fo > div{
    display:grid;
    margin: 40px 20px 0px;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
}
#one{
    background-color:  rgba(167, 33, 98, 0.15);
    border-radius: 20px 20px 0px 0px;
    border-bottom:40px solid #e397a8;
    width: 464px;
    height: 538px;
}
#two{
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 20px 20px 0px 0px;
    border-bottom:40px solid rgba(14, 59, 61, 0.15);
    width: 464px;
    height: 538px;
}
#three{
    background-color:rgba(71, 125, 17, 0.15);
    border-radius: 20px 20px 0px 0px;
    border-bottom:40px solid rgba(62, 119, 5, 0.15);
    width: 464px;
    height: 538px;
}
.offer{
    
    background-color: rgba(39, 39, 39, 0.05); 0.05);
    display: flex;
    align-items:center;
    margin: 100px 185px 120px;
    padding:0px 290px 60px;
}
.offer > div{
    
    display:grid;
    margin: 70px 50px 0px;
    text-align: center;
    font-size: 18px;
}
.hotd{
    
    background-color: rgba(192, 24, 60, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 70px 350px  0px  340px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.hotd > div > .content{
   
    font-weight: 200;
    padding-bottom: 25px;
}
.hotd > div{
    
    margin-right: 150px;
    max-width: 800px;
}
.newcontent{
    
    font-weight: 400;
    font-size: 20px;
    margin: 0px 0px ;
    padding:0px 450px; 
}
.media{
    
    display:flex;
    margin: 30px 190px 100px;
}
.media > img{
    
    display:flex;
    margin: 0px 16px 0px;
}
.florist{

    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 250px 50px 250px;
}
.florist > div > p {
    max-width:600px;
    font-size: 20px;
}
.florist > div >img{
    width: 600px;
    height: 400px;
}
.subs{
    
    background: rgba(192, 24, 60, 0.05);
    align-items:center;
    margin: 100px 0px 120px;
    padding:60px 290px 100px;
}
.info{
    align-items:center;
    display: flex;
    justify-content: space-between;
    padding:5px 340px 10px;
}
.info input{
    display:block;
    margin-right: 15px;
    padding:12px 200px 9px 20px ;
    font-size: 18px;
}

.off1{
    
    text-align: center;
    margin: 0px 150px 0px;
}
.hadding1{
    font-size:40px ;
    font-weight: 700; 
    Margin:30px 30px 20px;
}
.newcontent1{
    
    font-weight: 400;
    font-size: 20px;
    margin: 10px ;
    padding:0px 250px; 
}
/*footer section*/
footer{
    background-color: rgba(103, 147, 59, 0.568);
    padding: 80px 0px 150px;
    text-align: center;
}
.name1{
    font-size: 60px;
    font-weight: 800;
    margin: 0px;
    margin-bottom: 20px;
}
.content1{
    color: #750820;
    font-weight: 400;
    font-size: 20px;
}
.orn{
    margin-top: 60px;
    color:antiquewhite;
    font-weight: 400;
    font-size: 18px;
}


